html {
    font-family: sans-serif;
    height: 100%;
}

*:not(.navbar, body) {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    gap: 10px;
    margin-left: 5%;
    padding: 20px;
    width: 90%;
    background-color: #284B63;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

#main-offers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
}

.offer {
    width: 100%;
    max-width: 200px;
    background-color: #D9D9D9;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
}

#pagination-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pagination-wrapper button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination-wrapper button:hover:not(:disabled) {
    background-color: #555;
}

.pagination-wrapper button:disabled {
    background-color: #777;
    cursor: not-allowed;
    opacity: 0.5;
}

.page-info {
    font-weight: bold;
    color: #D9D9D9;
}