html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(230,230,230);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .navbar {
    width: 100%;
    border: 3px solid rgb(0,60,60);
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    font-size: 30px;
}
*/
.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    border: 3px solid black;
    box-sizing: border-box;
    flex-grow: 1;
}

.footer {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    box-sizing: border-box;
    border: 5px solid red;
    padding:5px;
    font-size: 15px;
}


#tmp {
    font-size: 80px;
}

