html {
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .navbar {
    width: 100%;
    border: 3px solid rgb(0,60,60);
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    font-size: 30px;
}
*/
.content {
    margin-left: 5%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 90%;
    height: 100%;
    background-color: #284B63;
    color: #D9D9D9;
}

.offer {
    max-width: 200px;
    max-height: 250px;
    background-color: #D9D9D9;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.category {
    margin-left: 10%;
    color: #D9D9D9;
    font-size: 20px;
}

a {
    color: #284B63;
}

img {
    max-width: 100%;
}

.offer_name {
    font-size: 20px;
}

.footer {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    box-sizing: border-box;
    border: 5px solid red;
    padding: 5px;
    font-size: 15px;
    background-color: #3A6B74;
}


#tmp {
    font-size: 80px;
}