.navbar {
    font-size: 20px;
    display: flex;
    border: 3px solid blue;
    padding: 10px;
}

nav.navbar *{
    text-decoration: none !important;
    color: black;
    padding: 10px 10px;
    margin: 0px;
}

nav.navbar a:hover {
    cursor: crosshair;
}

#login {
    position: absolute;
    right: 1%;
}