.navbar {
    font-size: 20px;
    display: flex;
    border: 3px solid blue;
    padding: 10px;
}

nav.navbar > *{
    text-decoration: none !important;
    color: black;
    padding: 10px 10px;
    /* margin: 0px; */
}

nav.navbar a:hover {
    cursor: pointer;
}

#logoutbtn {
    margin-left: 10px;
}

.account-button {
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-button {
    width: 100px;
    padding: 8px 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#username {
    color: black;
}