* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A6B74;
    height: 80px;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 30px;
    height: 100%;
}

.nav-link,
.dropbtn {
    color: #D9D9D9;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 0;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #3A6B74;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: #D9D9D9;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #3A6B74;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.account-button {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.navbar-button {
    background: none;
    border: none;
    color: #3A6B74;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    font-weight: bold;
}

#username {
    color: #3A6B74;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: 18px;
}