body {
    background-color: #353535;
    margin: 0;
}

.content {
    margin-top: 50px;
    background-color: #D9D9D9;
    width: 80%;
    margin-left: 10%;
    padding: 50px;
    font-size: 30px;
}

img {
    max-width: 80%;
    padding-left: 10%;
}

.name {
    margin: 0;
    font-size: 50px;
}