body {
    background-color: #353535;
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-box {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
}

input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #D9D9D9;
}

select {
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn-submit {
    background-color: #2b4f53;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #3b6e73;
}