body {
    margin: 0;
    font-family: sans-serif;
    background-color: #353535;
    color: #D9D9D9;
}

.details-table {
    margin-top: 30px;
    border: 2px solid #D9D9D9;
    border-collapse: collapse;
}

.details-table td {
    /* border-bottom: 1px solid black; */
    border: 1px solid #D9D9D9;
    padding: 5px;
    text-align: center;
}