.details-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.details-table td {
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}