body {
    margin: 0;
    padding: 0;
    background-color: #353535;
    font-family: sans-serif;
    color: antiquewhite;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #284B63;
    padding: 50px 40px;
    border-radius: 8px;
    width: 400px;
    text-align: left; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

h2 {
    text-align: center; 
    color: #D9D9D9;
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #D9D9D9;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 15px;
    margin-bottom: 0; 
    background-color: #D9D9D9 !important;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #353535 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

input:focus, select:focus {
    background-color: #D9D9D9;
    opacity: 100%;
    outline: none;
}

input::placeholder {
    color: #353535;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    width: auto;
    padding: 15px 30px;
    background-color: #D9D9D9;
    color: #353535;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #353535;
    color: #D9D9D9;
}

.error-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff6b6b;
}

a {
    color: #D9D9D9;
    margin-left: 20px;
    text-decoration: underline;
    font-size: 16px;
}

a:hover {
    color: white;
}

hr {
    visibility: hidden;
}

#error-div {
    background: #ff6b6b;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}