body {
    margin: 0;
    padding: 0;
    background-color: #353535;
    font-family: sans-serif;
    color:antiquewhite;
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    width: 100%;
}

.card {
    background-color: #284B63;
    padding: 50px 40px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #D9D9D9;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: normal;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #D9D9D9;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #353535;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input:focus {
    background-color: #D9D9D9;
    opacity: 100%;
}

input::placeholder {
    color: #353535;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #D9D9D9;
    color: #353535;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #353535;
    color: #D9D9D9;
}

.error-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: red;
}

a {
    color: #D9D9D9;
}

hr {
    visibility: hidden;
}